/* font family */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'nanumsquare';
}

ul li{
    list-style: none;
}


/* 컨테이너 시작 */
#container{
    background: pink;
    width: 100%;
    height: 1294px;
    background: url(../img/back.jpg);
    position: relative;
}

#container .box{
    text-align: center;
    position: absolute;
    top: 230px;
    left: 100px;
}

/* title(타이틀)시작 */
.box .title p{
    font-size: 48px;
    line-height: 68px;
}

strong{
    font-weight: 900;
}

/* section(섹션) 공통영역 시작 */
.box .section{
    margin-top: 50px;
    width: 780px;
    height: 190px;
    background: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box .tab_area{
    height: 220px;
}

.box .section .question{
    width: 95%;
    height: 40px;
    position: absolute;
    font-size: 30px;
    display: flex;
    line-height: 60px;
    top: 20px;
    left: 35px;
}
.box .section .question .dott{
    background: url(../img/question.png) no-repeat;
    width: 60px;
    height: 60px;
    align-items: center;
    text-indent: -9999px;
}


/* section(섹션) 01 - 검색창 */
.box .search{
    width: 715px;
    height: 50px;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #333;
    position: absolute;
    bottom: 20px;
    left: 35px;
    display: flex;
    justify-content: space-between;
}

/* 검색창 */
.box .search input{
    width: 600px;
    height: 50px;
    border: none;
    font-size: 15px;
}

/* 검색버튼 */
.box .search button{
    width: 110px;
    height: 50px;
    background: url(../img/click_btn.jpg) no-repeat;
    background-position: center;
    color: #fff;
    font-size: 15px;
    text-indent: -9999px;
    cursor: pointer;
}

/* 카테고리 공통영역 */
.categori{
    width: 715px;
    height: 50px;
    position: absolute;
    left: 35px;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

/* 카테고리 항목선택 */
.categori .goods .listup{
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #333;
}

.categori .goods .listup{
    width: 230px;
    height: 50px;
    display: block;
    font-size: 15px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
}

.categori .goods .listup::after{
    content: "▼";
    background: #333;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    right: 0px;
    margin-left: 10px;
}

.categori .goods .hidden_list{
    background: #fff;
    width: 230px;
    height: 60px;
    border: 1px solid #333;
    overflow-y: scroll;
    display: none;
}

.categori .goods .hidden_list li{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

/* 제품타입선택 */
.categori .goods .type{
    width: 715px;
    height: 95px;
    position: absolute;
    bottom: 0px;
}

.categori .goods .type li{
    width: 125px;
    height: 25px;
    border: 1px solid #333;
    border-radius: 50px;
    font-size: 15px;
    float: left;
    margin: 0px 10px 10px 0px;
    text-align: center;
}

.categori .goods .type li a:hover{
    background: #333;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;
}

.categori .goods .type li a{
    display: inline-block;
    border-radius: 50px;
    width: 125px;
    height: 25px;
    line-height: 25px;
    text-decoration: none;
    color: #333;
    padding: 0;
    margin: 0;
}

