/* font family */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
:root{
    --line: 1px solid #333;
    --boldline: 3px solid #333;
}

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    max-height: 100vh;
    font-family: 'nanumsquare';
}

ul li{
    list-style: none;
}


/* 컨테이너 시작 */
#container{
    background: pink;
    width: 100%;
    height: 1294px;
    background: url(../img/back.jpg);
    position: relative;
}

#container .box{
    text-align: center;
    width: 800px;
    margin: auto;
    padding: 120px 0px 120px 0px;
    border: 1px solid red;
}

/* title(타이틀)시작 */
.box .title p{
    font-size: 48px;
    line-height: 68px;
}

strong{
    font-weight: 900;
}

/* section(섹션) 공통영역 시작 */
.box .section{
    margin-top: 50px;
    width: 800px;
    height: 190px;
    background: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
}

.box .tab_area{
    height: 220px;
}

.box .section .question{
    width: 95%;
    height: 40px;
    position: absolute;
    font-size: 30px;
    display: flex;
    line-height: 60px;
    top: 20px;
    left: 35px;
}
.box .section .question .dott{
    background: url(../img/question.png) no-repeat;
    width: 60px;
    height: 60px;
    align-items: center;
    text-indent: -9999px;
}


/* section(섹션) 01 - 검색창 */
.box .search{
    width: 715px;
    height: 50px;
    border-width: 1px 1px 3px 1px;
    border-style: solid;
    border-color: #333;
    position: absolute;
    bottom: 20px;
    left: 35px;
    display: flex;
    justify-content: space-between;
}

/* 검색창 */
.box .search input{
    width: 600px;
    height: 50px;
    border: none;
    font-size: 15px;
}

/* 검색버튼 */
.box .search button{
    width: 110px;
    height: 50px;
    background: url(../img/click_btn.jpg) no-repeat;
    background-position: center;
    color: #fff;
    font-size: 15px;
    text-indent: -9999px;
    cursor: pointer;
}

/* as 선택 */
.dropmenu{
    display: flex;
    justify-content: space-between;
    width: 715px;
    height: 50px;
    margin: auto;
    position: relative;
    padding-top: 40px;
}

.dropmenu .dropbox{
    width: calc(715px / 3.05);
    border-top: 1px solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dropmenu .dropbox .cellbox{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    border-top: var(--line);
    border-right: var(--line);
    border-bottom: var(--boldline);
    border-left: var(--line);
}

.dropmenu .dropbox .cellbox p{
    font-size: 18px;
    line-height: 50px;
    color: #333;
}

.dropmenu .dropbox .cellbox button{
    width:50px;
    border: none;
    background: #333;
    color: #fff;
    cursor: pointer;
}

.dropmenu .dropbox .listchat{
    display: flex;
    width: calc(715px / 3.05);
    flex-direction: column;
    position: absolute;
    top: 90px;
    z-index: 200;
    background: #fff;
    border: var(--line);
}

.dropmenu .dropbox .listchat ul{
    display: none;
}

.dropmenu .dropbox .listchat a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 0;
    border-bottom: var(--line);
    display: block;
}

.show{
    display: block;
}
